#GB_grid .grid-cell {
	width: 2em;
	height: 2em;
	cursor: default;
	border: 1px solid;
	float: left;
}

#GB_grid .row-end {
	float: left;
	clear: left;
}

button {
	display: block;
	clear: left;
}

input {
	display: block;
	clear: left;
	margin: 10px 0px;
}